@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

.swiper.swiper-initialized {
  padding: 20px;
}

.swiper-button-next, .swiper-button-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px #c5c4c4;
  border: 2px solid rgb(112, 112, 112);
  transition: all 0.3s;
}

.swiper-button-next:hover {
  transform: scale(1.2) !important;
}

.swiper-button-prev:hover {
  transform: scale(1.2) !important;
}

.swiper-button-prev::after, .swiper-button-next::after {
  font-size: 12px !important;
  color: black !important;
}

.tab-slide:hover p {
  color: black;
}